<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>test.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>7B3FE5CF1F2B3F0E00216D16</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7B3FE5E81F2B3F0F00216D16</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7B3FE5F31F2B3F0F00216D16</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
